* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #000080;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  
  
  height: 50px; /* only for demonstration, should be removed */
  background: #FFA500;
  padding-top: 10px;

  
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  //padding: 0;
  
}
li
{
   display: inline;
   font-size: 25px;
   padding: 20px;
   color: black;
}
a {
  color: black;
}
article {
  float: left;
  padding: 20px;
  width: 100%;
  background-color: #FFD700;
  color: black;
  height: 450px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: block;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #000;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

h1{
  text-align: center;
  padding: 20px;
  border: 2px solid #008000;
  background-color: #008000;
  color: black;


}
p{
  font-size: 16px;
}

/*Added on 23-nov-2019  for responsive functional navigational bar*/


.icon {
  display: none;
}

@media screen and (max-width: 600px) {
   
   a.icon {
    text-align: center;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .responsive {position: relative;}
  .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav #myTopnav {
  display: none;
}

}